.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onDesktop {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__nav {
    margin-bottom: 25px;

    @include onDesktop {
      margin: 0;
    }
  }
}
