.icon {
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;

  &--linkedin {
    background-image: url(../images/socials/socials-linkedin.svg);
  }

  &--telegram {
    background-image: url(../images/socials/socials-telegram.svg);
  }

  &--whatsup {
    background-image: url(../images/socials/socials-whatsup.svg);
  }

  &--facebook {
    background-image: url(../images/socials/socials-facebook.svg);
  }
}
