// media
$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$desktop-big-min-width: 1600px;

// colors
$c-white: #fff;
$c-dark: #111111;
$c-light: #C9C9C9;
$c-bg-dark: #1E1E1E;
$c-accent: #C4161C;
$c-accent-light: #dd262d;

