.about {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__text {
    margin: 0;
    padding: 0 15px 15px 0;
  }
}
