.footer {
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
  }

  &__bottom {
    background-color: $c-bg-dark;
    padding-block: 25px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__phones {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__phone {
    text-decoration: none;
    color: inherit;
    display: flex;
    padding-left: 38px;
    position: relative;
    align-items: center;

    @include onDesktop {
      transition: color 0.5s;

      &:hover {
        color: $c-light;

        .footer__phone-icon {
          color: $c-light;
        }
      }
    }
  }

  &__phone-icon {
    position: absolute;
    left: 0;
    font-size: 28px;
    color: $c-white;

    @include onDesktop {
      transition: color 0.5s;
    }
  }

  &__go-top {
    text-decoration: none;
    color: inherit;
    display: block;
    padding-left: 18px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onDesktop {
      @include hover-line;
    }
  }

  &__go-top-icon {
    position: absolute;
    left: 0;
    font-size: 12px;
  }
}
