.recommendations {
  &__title {
    text-align: center;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px 30px;

    @include onTablet {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include onDesktop {
      justify-content: space-around;
      gap: 70px 10px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 280px;

    @include onDesktop {
      flex-basis: 30%;

      &:hover {
        .recommendations__photo, .recommendations__video {

          box-shadow: 0 0 15px 5px #c4161c80;
        }
      }
    }
  }

  &__item-title {
    margin: 0;

    @include onDesktop {
      transition: color 0.5s;
    }
  }

  &__photo,
  &__video {
    display: flex;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1.77 / 0.99;
  }

  &__photo {
    transition:
      box-shadow 0.5s,
      transform 0.5s;

    @include onDesktop {
    }
  }

  &__video {
    transition: box-shadow 0.5s;

    @include onDesktop {

    }
  }

  &__link {
    font-weight: 700;
    text-transform: uppercase;
    color: $c-accent;
    text-decoration: none;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    gap: 5px;

    @include onDesktop {
      transition: color 0.5s;

      &:hover {
        color: $c-white;

        .recommendations__link-icon {
          color: $c-white;
        }
      }
    }
  }

  &__link-icon {
    font-size: 20px;
    color: $c-accent;

    @include onDesktop {
      transition: color 0.5s;
    }
  }
}
